{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/y') }} dans le categorie {{ article.category.title }}</div>
        <div class="content">
            <img src="{{ article.image }}" alt="">
           {{ article.content | raw }}
        </div>
    </article>

    <section id="commentaires">
        <h1>{{ article.comments | length }} Commentaire:</h1>
        {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                   {{ comment.author }}
                </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
            </div>
        </div>
    {% endfor %}

        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr': {'placeholder': "votre nom"}}) }}
        {{ form_row(commentForm.content, {'attr': {'placeholder': "votre commentaire"}}) }}
        <button type="submit" class="btn btn.success">Commenter</button>
        {{ form_end(commentForm) }}

        {% else %}
         <h1>vous ne pouvez pas commenter</h1>
            <a href="{{ path('security_login') }}" class="btn btn-primary">connexion</a>
        {% endif %}
    </section>
{% endblock %}